{% extends 'base.html' %}

{% block title %}조직도 | ASC{% endblock %}

{% block content %}
<section id="team">
  <h2>조직도</h2>

  <div class="level president">
    <div class="person">회장 이서준</div>
  </div>

  <div class="level vice">
    <div class="person">부회장 전예진</div>
  </div>

  <div class="level managers">
    <div class="person">회계부장 전예진</div>
    <div class="person">기획부장 홍윤걸</div>
    <div class="person">홍보부장 이윤성</div>
    <div class="person">편집부장 박성준</div>
    <div class="person">관리부장 윤도경</div>
    <div class="person">학술부장 박정우</div>
  </div>

  <div class="level members">
    <div>
      <div class="person">회계부원 김예은</div>
    </div>
    <div>
      <div class="person">기획부원 신혜성</div>
      <div class="person">기획부원 조하영</div>
    </div>
    <div>
      <div class="person">홍보부원 김우형</div>
      <div class="person">홍보부원 장유진</div>
    </div>
    <div>
      <div class="person">편집부원 강석현</div>
      <div class="person">편집부원 문소은</div>
    </div>
    <div>
      <div class="person">관리부원 남우현</div>
    </div>
    <div>
      <div class="person">학술부원 이찬옥</div>
      <div class="person">학술부원 임승묵</div>
    </div>
  </div>
</section>
{% endblock %}
